@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
  }
}

.glass-card {
  @apply backdrop-blur-3xl bg-white/5 border border-white/10;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.italic {
  font-style: italic;
}
